************************************************
MSSM Lagrangian parameters and tree level masses
written on file mssm_data.txt
************************************************

Corrections to lepton Yukawa couplings:         10.4%     10.4%     10.5%
Corrections to down-quark Yukawa couplings:     20.4%     20.8%     36.2%
Corrections to up-quark Yukawa couplings:        0.8%      1.2%      1.1%
Corrections to CKM matrix elements: 
      0.0%      0.0%     20.6%
      0.0%      0.0%     13.1%
      8.6%     13.3%      0.0%

 ******************************************************
Physical results for resummation level 2 (error code 0)

Electric dipole moments:
Electron EDM = -2.3487E-24
Muon EDM     = -4.8558E-22
Tau EDM      = -7.9824E-21
Neutron EDM  = -1.7778E-23

g-2 anomaly, SUSY contribution:
Electron (g-2)/2 =  1.1604E-13
Muon (g-2)/2     =  4.9615E-09
Tau (g-2)/2      =  1.3779E-06

l^J->l^I gamma decays:
Br(mu-> e gamma)   =  7.9162E-07
Br(tau-> e gamma)  =  8.2406E-19
Br(tau-> mu gamma) =  1.2083E-10

Neutrino K decays:
BR(K_L^0 -> pi^0 vv) =  4.6213E-11
BR(K^+   -> pi^+ vv) =  1.0522E-10

Leptonic B decays:
BR(B_d -> mu^+ mu^-) =  1.1937E-08
BR(B_s -> mu^+ mu^-) =  8.6558E-07
BR(B_s -> mu^+ e^-)  =  3.2941E-13
BR(B_u -> tau nu)    =  5.7609E-06
BR(B_u -> D tau nu)/BR(B_u -> D l nu) =  2.0845E-01

BR(B -> X_S gamma) =  1.0976E-03

KK mixing:
eps_K     =  2.3584E-03
Delta m_K =  2.5222E-15

DD mixing:
Delta m_D =  1.7174E-17

BB mixing:
Re(H_eff_Bd) =  1.1273E-13
Im(H_eff_Bd) = -1.2200E-13
Delta m_B_d  =  3.3222E-13
Delta m_B_s  =  1.5092E-11

